<img class="index-img" src="<%= @movie.poster %>" alt="movie">
<h3><%= @movie.title%></h3><br>
<h5><%= @movie.year%></h5><br>
<h5><%= @movie.plot%></h5><br>
<h5><%= @movie.director%></h5><br>
<h5><%= @movie.award %></h5><br>
<h5><%= @movie.genre%></h5><br>
